<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.webcook.eshopscanner"
    android:versionCode="3"
    android:versionName="1.0.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cz.webcook.eshopscanner.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.webcook.eshopscanner.activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="cz.webcook.eshopscanner.activities.ProductFormActivity"
            android:label="@string/title_activity_product_form" >
        </activity>
        <activity
            android:name="cz.webcook.eshopscanner.activities.ProductsActivity"
            android:label="@string/title_activity_products" >
        </activity>
        <activity
            android:name="cz.webcook.eshopscanner.activities.BarcodeActivity"
            android:label="@string/title_activity_barcode" >
        </activity>
        <activity
            android:name="cz.webcook.eshopscanner.activities.OrderActivity"
            android:label="@string/title_activity_order" >
        </activity>
        <activity
            android:name="cz.webcook.eshopscanner.activities.OrderFormActivity"
            android:label="@string/title_activity_order_form" >
        </activity>
    </application>

</manifest>
